<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876709651542-5go3d4o73q566uabfg8un30vhscdcub0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876709651542-5go3d4o73q566uabfg8un30vhscdcub0</string>
	<key>API_KEY</key>
	<string>AIzaSyBJEvuMm4WuwG_itCJE7su_mP8WjmbBB90</string>
	<key>GCM_SENDER_ID</key>
	<string>876709651542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>attend-in-6b0a1</string>
	<key>STORAGE_BUCKET</key>
	<string>attend-in-6b0a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876709651542:ios:c82014f6347fbfe05dc7f7</string>
</dict>
</plist>