rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /User_Student/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /Attendance/{document} {
      allow create: if request.auth.uid == request.resource.data.StudentID;
      allow read: if request.auth.uid == resource.data.TeacherID;
      allow write: if false;
      allow delete: if false;
    }

    match /CourseCRN/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /TeacherList/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
